body{
    margin: 0;
    background-color: rgb(251, 244, 234);
    font-family: "Poppins", sans-serif;
}
.red-box{
    display: flex;
    flex-direction: column;  /* stack header + body-section */
    padding: 20px;
    padding-bottom: 30px;
    background-color: rgb(176, 55, 55);
}

.body-section{
    display: flex;
    justify-content: space-evenly; /* tagline left, image right */
    align-items: center;
    gap: 20px;
    flex-wrap: wrap; /* responsive on smaller screens */
    margin-top: 35px;
}
.tagline{
    color: white;
}
.imageppl{
    height: 250px;
    width: 400px;
    border-radius: 10px;
}
.pplimg{
    object-fit: cover;
    
}

.lower-layer{
    display: flex;
    flex-wrap: wrap;
    gap: 100px;
    justify-content: center;
    margin-top: 35px;
}

.Outer-Home{
    position : relative;
    z-index: 1;
}

.login-card{
    position: absolute;
    z-index: 3;
    border: solid;
    border-width: 1px;
    border-color: rgb(147, 145, 145);
    top: 10%;
    right: 33%;
    background-color: white;
    border-radius: 10px;
    padding: 50px 50px;
    
    
    
    
}