.Profile-layout{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}
.user-details-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;
}

.list-of-order-history{
    
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}